[submodule "zsh/oh-my-zsh.no-autoload"]
	path = zsh/oh-my-zsh.no-autoload
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "tag-vim/vim/bundle/Vundle.vim"]
	path = tag-vim/vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
