[user]
	name = Username
	email = E-Mail
[alias]
	co = checkout
	up = pull --rebase
	ci = commit
  st = status
	wtf = !$ZSH/../bin/git-wtf
	do = !git stash && git up && git push && git stash pop
	l = !git --no-pager log -n 20
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = $HOME.gitignore
	editor = subl --wait
	autocrlf = input
[apply]
	whitespace = nowarn
[format]
	pretty = %C(yellow)%h%Creset %s %C(red)(%an, %cr)%Creset
[github]
	user = GithubUser
	token = Token
[push]
	default = tracking
[help]
  autocorrect = 5
